/* src/styles/Footer.css */

.main-footer {
  /* Posição padrão: Ocupa a largura total */
  width: 100%;
  text-align: center;
  padding: 8px 0 1px;

  /* Estilo sutil */
  font-size: 0.7rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;

  /* Cor discreta, mas legível */
  color: var(--cor-texto-secundario);

  /* Garante que o fundo seja transparente para ver o background abstrato */
  background-color: transparent;
}

@media (max-width: 1440px) and (min-width: 1201px) {
  .main-footer {
    font-size: 0.7rem;
    letter-spacing: 0.08rem;
    padding: 8px 0 1px;
  }
}

/* Opcional: Estilo sutil de hover, se houver interação */
.main-footer:hover {
  color: var(--cor-principal);
}


@media (max-width: 600px) {
.main-footer {
  /* Posição padrão: Ocupa a largura total */
  width: 100%;
  text-align: center;
  padding: 20px 0;

  /* Estilo sutil */
  font-size: 0.5rem;
  letter-spacing: 0.0rem;
  text-transform: uppercase;

  /* Cor discreta, mas legível */
  color: var(--cor-texto-secundario);

  /* Garante que o fundo seja transparente para ver o background abstrato */
  background-color: transparent;
}


}
