.home-page {
  min-height: calc(50vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: aliceblue;
}

.home-name-1 {
  font-size: 10rem;
  font-weight: 1000;
  height: -webkit-min-content;
  height: min-content;
  letter-spacing: 3rem;
  margin-bottom: -2%;
  text-transform: uppercase;
}

.home-name-2 {
  font-size: 8rem;
  font-weight: 300;
  height: -webkit-min-content;
  height: min-content;
  letter-spacing: 8rem;
  margin: 0;
  text-transform: uppercase;
}
.habilidades{
    font-size: 2rem;
}
